@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Change scrollbar https: //stackoverflow.com/a/65776078 */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-white) var(--background-secondary);

  /* Disable built in cursor, we use separate component */
  /* cursor: none !important; */
}

*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  /* color of the tracking area */
  background: var(--background-secondary);
}

*::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  background-color: var(--color-green);
  /* roundness of the scroll thumb */
  border-radius: 20px;
  /* creates padding around scroll thumb */
  border: 6px solid var(--background-secondary);
}

/* ------------------------------------------------------- */

/* Make all element take full screen https://stackoverflow.com/a/58465587 */
#__next {
  height: 100%;
}

html[data-theme="light"] {
  --color-green: #9fef00;
  --color-gray: #4b4b4b;
  --color-black: #ffffff;
  --color-blue: #0086ff;
  --color-yellow: #ffaf00;
  --color-red: #ff3e3e;
  --color-purple: #9f00ff;
  --color-aqua: #2ee7b6;
  --color-cyan: #00cfc1;
  --background-primary: #ffffff;
  --background-secondary: #f0f0f0;
  --background-tertiary: #e6e6e6;
  --text-primary: #141d2b;
  --text-secondary: #4b4b4b;
  --text-tertiary: #9f9f9f;
}

html[data-theme="dark"] {
  --color-green: #9fef00;
  --color-gray: #a4b1cd;
  --color-black: #141d2b;
  --color-blue: #0086ff;
  --color-yellow: #ffaf00;
  --color-red: #ff3e3e;
  --color-purple: #9f00ff;
  --color-aqua: #2ee7b6;
  --color-cyan: #58e6d9;
  --background-primary: #141d2b;
  --background-secondary: #1a2332;
  --background-tertiary: #111927;
  --text-primary: #fff;
  --text-secondary: #a4b1cd;
  --text-tertiary: #cad2e2;
}

nav {
  background-color: var(--background-secondary);
}

body {
  font-family: monospace;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

a {
  color: var(--color-green);
  text-underline-offset: 3px;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--background-secondary);
}

.section-title {
  font-weight: bold;
  font-size: 22px;
  text-underline-offset: 6px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-decoration: underline;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
}
