* {
    /* Hide normal cursor */
    /* cursor: none; */
}

.cursor-content {
    width: 100%;
    height: 100%;
    background-color: var(--color-green);

}

.cursor-frame {
    height: 30px;
    width: 30px;
    border: 2px solid var(--color-green);
    /* Disable pointer events so the cursor doesn't get in the way */
    pointer-events: none;
    position: fixed;
}

.cursor-content,
.cursor-frame {
    border-radius: 50%;
    z-index: 1000;
}