@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="light"] {
    --background-primary: #141d2b;
    --background-secondary: #1a2332;
    --background-tertiary: #111927;
    --color-primary: #cd1313;
    --color-secondary: #a4b1cd;
    --color-tertiary: #cad2e2;
    --color-green: #9fef00;
    --color-grey: #a4b1cd;
    --color-black: #141d2b;
    --color-red: #ff3e3e;
    --color-aqua: #2ee7b6;
    --link-color: #3d7aed;
}

html[data-theme="dark"] {
    --background-primary: #141d2b;
    --background-secondary: #1a2332;
    --background-tertiary: #111927;
    --color-primary: #fff;
    --color-secondary: #a4b1cd;
    --color-tertiary: #cad2e2;
    --color-green: #9fef00;
    --color-grey: #a4b1cd;
    --color-black: #141d2b;
    --color-red: #ff3e3e;
    --color-aqua: #2ee7b6;
    --link-color: #ff63c3;
}

body {
    font-family: 'JetBrains Mono', monospace !important;
    background-color: var(--background-primary) !important;
}

a {
    color: var(--link-color) !important;
    text-underline-offset: 3px !important;
}
