name: Continous Deployment

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    name: Build and push new image to container registries
    permissions: # Permissions for GITHUB_TOKEN
      contents: read
      packages: write
    steps:
      - name: Login to dockerhub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: bl4ko
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: bl4ko
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build and push final image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          tags: |
            bl4ko/homepage:latest
            bl4ko/homepage:${{ github.ref_name }}
            ghcr.io/bl4ko/homepage:latest
            ghcr.io/bl4ko/homepage:${{ github.ref_name }}
          push: true
