name: Continous Deployment

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    name: Build and push new image to container registries
    permissions: # Permissions for GITHUB_TOKEN
      contents: read
      packages: write
    steps:
      - name: Login to dockerhub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: bl4ko
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to ghcr.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: bl4ko
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build and push final image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          platforms: linux/amd64,linux/arm64
          tags: |
            bl4ko/homepage:latest
            bl4ko/homepage:${{ github.ref_name }}
            ghcr.io/bl4ko/homepage:latest
            ghcr.io/bl4ko/homepage:${{ github.ref_name }}
          push: true
