name: Continous Integration
on:
  pull_request:
    branches: [develop, main]
  workflow_dispatch:
jobs:
  eslint:
    name: "Run ESLint"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run lint

  playwright:
    name: "Playwright Tests"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@d6e91a2266cdb9d62096cebf1e8546899c6aa18f # v45
        with:
          files: |
            package.json
            package-lock.json
            src/**
            tests/**
            **.js
            **.ts

      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        if: steps.changed-files.outputs.any_modified == 'true'
        with:
          node-version: 22

      - name: Install dependencies
        if: steps.changed-files.outputs.any_modified == 'true'
        run: npm ci

      - name: Install Playwright Browsers
        if: steps.changed-files.outputs.any_modified == 'true'
        run: npx playwright install --with-deps

      - name: Build standalone nextjs server for testing
        if: steps.changed-files.outputs.any_modified == 'true'
        run: npm run build

      - name: Run Playwright tests
        if: steps.changed-files.outputs.any_modified == 'true'
        run: npm run test:e2e --debug

      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4
        if: steps.changed-files.outputs.any_modified == 'true'
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  scan:
    uses: bl4ko/shared-actions/.github/workflows/osv_image.yml@main
    permissions:
      contents: read
    with:
      containerfile: ./Dockerfile
