name: Continous Integration
on:
  pull_request:
    branches: [develop, main]
  workflow_dispatch:
jobs:
  eslint:
    name: "Run ESLint"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run lint

  playwright:
    name: "Playwright Tests"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@48d8f15b2aaa3d255ca5af3eba4870f807ce6b3c # v45
        with:
          files: |
            package.json
            package-lock.json
            src/**
            tests/**
            **.js
            **.ts

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        if: steps.changed-files.outputs.any_modified == 'true'
        with:
          node-version: 22

      - name: Install dependencies
        if: steps.changed-files.outputs.any_modified == 'true'
        run: npm ci

      - name: Install Playwright Browsers
        if: steps.changed-files.outputs.any_modified == 'true'
        run: npx playwright install --with-deps

      - name: Build standalone nextjs server for testing
        if: steps.changed-files.outputs.any_modified == 'true'
        run: npm run build

      - name: Run Playwright tests
        if: steps.changed-files.outputs.any_modified == 'true'
        run: npm run test:e2e --debug

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: steps.changed-files.outputs.any_modified == 'true'
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
