name: OSV-Scanner scan Containerfile
on:
  pull_request:
    branches: [main]
  merge_group:
    branches: [main]
  workflow_dispatch:
jobs:
  osv_scan_image:
    uses: bl4ko/shared-actions/.github/workflows/osv_image.yml@main
    permissions:
      contents: read
    with:
      containerfile: ./Dockerfile
